.search {
  width: 40%;
  margin: auto;
  background-color: #222535;
  border-radius: 5rem;
  display: grid;
  grid-template-columns: 5% 95%;
  padding: 1rem 2rem;
}
.search > i {
  color: #acb0c1 !important;
  font-size: 2rem;
}
.search > input {
  /* width: 100%; */
  background-color: #222535;
  color: #acb0c1;
  /* border-radius: 5rem; */
  border: none;
  font-size: 1.4rem;
  margin-left: 10px !important;
  padding-left: 10px;
}

.search:hover {
  box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.7);
}

@media (max-width:786px) {
  .search {
    width: 60%;
  }
}

@media (max-width:605px) {
  .search {
    width: 80%;
  }
}

@media (max-width:450px) {
  .search {
    width: 80%;
  }
}
