.sidebar {
  margin: 0 3rem;
  padding: 2rem 0;
}
.sidebar-header > span {
  font-weight: bold;
  font-size: 2rem;
}
.sidebar-body {
  margin-top: 3rem;
  background: linear-gradient(to right, #212e4b 0%, #405277 100%);
  border-radius: 5px;
}

.sidebar-body>.category {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: grid;
}
.category > .category-option {
  padding-left: 0;
  border-radius: 5px;
  /* background: rgb(56, 59, 59); */
  cursor: pointer;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}
.category > .category-option > span {
  font-size: 2rem;
  display: block;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #212e4b 0%, #405277 100%);;
  transition: transform 0.3s;

}



.category > .category-option > span:hover {
  transform: translateX(-5px);
  font-weight: bold;
  background-color: rgb(16 21 29 / 29%);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
