html{
  font-size: 10px;
  box-sizing: border-box;
}
body {
  /* background-color: #32394b; */
  /* background: url('./resorce/images/Hero\ Section.png'); */
  background-image: url('./resource/images/Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #fff;
}
*:focus {
  outline: none;
}

.App {
  width: 80%;
  margin: 6rem auto;
  /* background-image: url(./resorce/images/Background\ Ellipse.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; */
  /* border: 1px solid #000; */
}
.main {
  margin-top: 10rem;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
}

@media (max-width:1450px) {
  .App {
    width: 100%;
    margin: 6rem 0rem;
  }
  .main {
   grid-template-columns: 20% 80%;
   margin-top: 5rem;
  }
}

@media (max-width:1125px) {
  .App {
    width: 100%;
    margin: 6rem 0rem;
  }
  .main {
   grid-template-columns: 30% 70%;
   margin-top: 5rem;
  }
}

@media (max-width:786px) {
  .App {
    width: 100%;
    margin: 6rem 0rem;
  }
  .main {
   grid-template-columns: 30% 70%;
   margin-top: 5rem;
  }
}

@media (max-width:605px) {
  .main {
   grid-template-columns: 40% 60%;
  }
}

@media (max-width:450px) {
  .main {
   grid-template-columns: none;
  }
}